body{
    width: 960px;
    height: 750px;
}

.nav-item{
    margin-left: 10px;
}

.card {
    border-radius: .25rem;
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-left: 10px;
}

td {
    margin-left: 20px;
    padding-left: 20px;
}

.article{
    padding-left: 5px;
    padding-bottom: 5px;
}
